<div class="center-content">
  <h1>Weather App</h1>
  <p>Welcome to Weather App</p>
  
  <div class="auth-options">
  <%= link_to "New Here? Sign Up", signup_path, class: "btn btn-primary" %><br>
  <%= link_to "Existing User? Sign In", login_path, class: "btn btn-secondary" %>
</div>

</div>
